html{

line-height: 1.15;

}
header {
	padding: 0;
margin:0px;
width: 100%;
height: 80px;
background: #00008B;

}
#logo{

border-style: none;
width: 165px;
height: 80px;
margin-left: 100px;
margin-right: 100px;
position: absolute;
top: 8px;
left: 0px;

}

body{

font-family: roboto;

}

nav{

display: inline-block;
margin-left: 400px;
margin-top: 30px;

}

a{

color: white;
text-decoration: none;
font-weight: 2em;
font-family: 'roboto';
margin-right: 20px;
padding: 30px;

}

a:hover{

color: white;
background: #09568d;
padding: 30px;

}

.learntechnow{

width: 400px;
height: 500px;
background: white;
border:1px solid transparent;
position: absolute;
top: 250px;
left: 250px;

}

.learntechpodcast{

width: 400px;
height: 500px;
background: white;
border:1px solid transparent;
position: absolute;
top: 250px;
left: 700px;

}

.learntechblog{

width: 400px;
height: 500px;
background: white;
border:1px solid transparent;
position: absolute;
top: 250px;
left: 1150px;

}

#footer{

width: 100%;
height: 80px;
background: #172035;
position: absolute;
top: 900px;
left:0px;

}

.fo{

border-style: none;
width: 165px;
height: 70px;
margin-left: 100px;
margin-right: 100px;
position: absolute;
top: 6px;
left: 0px;

}

#p{

text-align: center;
color: white;
font-size: 26px

}

.img{

height: 365px;
width: 400px;

}

button{

width: 50%;
height: 50px;
background: #172035;
color: white;
font-size: 2em;
border:none;

}